# Игнорировать папку виртуального окружения
.venv/

# Игнорировать кэшированные файлы Python
__pycache__/
*.pyc
*.pyo

# Игнорировать настройки IDE
*.idea/
*.vscode/

# Игнорировать временные файлы macOS
*.DS_Store

# Игнорировать временные файлы Windows
Thumbs.db

# Игнорировать файлы конфигурации Docker
docker-compose.yml
*.log

# Игнорировать папки с данными (если требуется)
data/

